body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #46593A;
  font-family: 'Noto Serif JP', serif !important;
}

img{
  width:100%;
}

.navbar-laravel {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #46593A !important;
}

.nav-link {
  color: #46593A !important;
}

.table-success {
  color: #46593A;
}

.list-group-item {
  border-color: #46593A;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

.header_logo {
  width:100px;
}

.header_title{
  position: relative;
  text-align: center;
  font-size: 2rem;
}

.circle_parent {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.circle{
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #DCE8B0;
}

.circle_image{
  width: 270px;
  height: 270px;
  position: relative;
  top: 15px;
  left: 15px;
  img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: opacity(40%);
  }
}

.circle_post{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #DCE8B0;
}

.circle_postimage{
  width: 250px;
  height: 250px;
  position: relative;
  top: 25px;
  left: 25px;
  img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  }
}  

.sub_button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  font-weight: bolder;
}

.title_box{
  width: 30%;
  height: 70px;
  background: #DCE8B0;
  position: relative;
}

.title_text{
  color: #46593A;
  position: absolute;
  left: 25px;
  top: 5px;
}

.mypage_title_text{
  color: #46593A;
  margin-right: 100px;
}

.mypage_title_box{
  width: 100%;
  height: 70px;
  background: #DCE8B0;
  position: relative;
  justify-content: center;
  display: flex;
}

.container{
  position: relative;
  img{
    width: 100%;
  }
}

.top_button{
  text-align: center;
  margin-top: -100px;
  margin-bottom: 100px;
}

.post{
  display: flex;
  flex-warp: wrap;
  justify-content: center;
  margin: 30px 0;
  padding-top: 30px;
}

.recipe_posts{
  margin-bottom: 30px;
  margin-left: 50px;
  padding: 50px 10px;
  text-align: start;
}

.recipe_post{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 60px;
}

.recipe_post_child{
  width: 32%;
  box-sizing: border-box;

}

.posts{
  display: table;
  li{
    display: table-cell;
  }
  button{
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.profile{
  position: relative;
  
  div {
    position: absolute;
    top: 55%;
    left: 42%;
  }
}

.details{
  position: relative;
  margin: 150px 500px;
}


.sample-box-05 {
    width: 500px;
    margin: 10px;
    padding: 20px;
    border: 2px solid #D94F41;
    border-radius: 8px;
    position: relative;
}

.sample-box-05::before {
    background-color: #fff;
    color: #D94F41;
    content: "作り方";
    font-weight: bold;
    position: absolute;
    padding: 0 20px;
    left: 10px;
    top: -10px;
}


.sample-box-03 {
    width: 500px;
    margin: 10px;
    padding: 30px;
    border-radius: 8px;
    border: dashed #D94F41;
}

.balloon{
  position: relative;
  padding: 20px;
  background-color: #107b5e;
  color: #DCE8B0;
  border-radius: 10px;
}
/* 色付きの半円 */
.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  left: 20px;
  top: -15px;
  border-left: 20px solid #107b5e;
  border-top: 20px solid #107b5e;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 白い半円 */
.balloon::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  left: 35px;
  top: -20px;
  border-left: 20px solid #fff;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.menu_cont{
  width: 32%;
}

.search-form-003 {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 1px solid #233a22;
    border-radius: 3px;
}

.search-form-003 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-003 input::placeholder{
    color: #767d83;
}

.search-form-003 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-003 button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

.menu_img{
  display: flex;
  margin: 0 auto;
  border: 0px solid;
  flex-wrap: wrap;
  width: fit-content;
  text-align: center;
  margin-bottom: 20px;
}

.large_img{
  position: relative;
  img{
    height: 400px;
    width: 100%;
  }
  p{
    position: absolute;/*絶対配置*/
    color: #000;/*文字は白に*/
    top: 5%;
    left: 5%;
    font-size: 30px;
    background: #fff;
    opacity: 0.7;  
  }
}

.small_img{
  position: relative;
  img{
    height: 200px;
    width: 100%;
  }
  p{
    position: absolute;/*絶対配置*/
    color: #000;/*文字は白に*/
    top: 5%;
    left: 5%;
    font-size: 20px;
    background: #fff;
    opacity: 0.7;   
  }
}

.side_img{
  display: flex;
  height: 50%;
  width: 100%;
  position: relative;
  p{
    position: absolute;/*絶対配置*/
    color: #000;/*文字は白に*/
    top: 5%;
    left: 5%;
    font-size: 20px;
    background: #fff;
    opacity: 0.7;  
  }
}

.cp_block {
	margin: 5em auto;
	text-align: center;
}
.cp_textlink06 {
	position: relative;
	display: inline-block;
	padding: 0.1em 0.3em;
	text-decoration: none;
	color: #46593A;
}
.cp_textlink06:after {
	position: absolute;
	bottom: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	transition: all 0.3s ease;
	opacity: 0;
	border-radius: 10px;
	background-color: #46593A;
}
.cp_textlink06:hover:after {
	bottom: 0;
	height: 100%;
	opacity: 0.3;
}

.large-box{
  display: flex;
}

.menu_page{
  text-align: center;
  width: 100%;
  margin: auto 0;
}

.accordion{
  position: relative;
}

.accordion-001 {
    max-width: 900px;
    background-color: #f2f2f2;
    margin: auto;
}

.accordion-001:not([open]) {
    margin-bottom: 7px;
}

.accordion-001 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #4fb056;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.accordion-001 summary::-webkit-details-marker {
    display: none;
}

.accordion-001 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    transition: transform .3s;
}

.accordion-001[open] summary::after {
    transform: rotate(225deg);
}

.accordion-001 p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 1em 2em 2em 2em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}

.accordion-001[open] p {
    transform: none;
    opacity: 1;
}

.inside{
  margin-top: 20px;
  margin-left: 20px;
}



//npm run dev
//npm run watch