body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #46593A;
  font-family: 'Noto Serif JP', serif !important;
}

img{
  width:100%;
}

.navbar-laravel {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #46593A !important;
}

.nav-link {
  color: #46593A !important;
}

.table-success {
  color: #46593A;
}

.list-group-item {
  border-color: #46593A;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

.header_logo {
  width:100px;
}

.header_title{
  position: relative;
  text-align: center;
  font-size: 2rem;
}

.circle_parent {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.circle{
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #DCE8B0;
}

.circle_image{
  width: 270px;
  height: 270px;
  position: relative;
  top: 15px;
  left: 15px;
  img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: opacity(40%);
  }
}

.circle_post{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #DCE8B0;
}

.circle_postimage{
  width: 450px;
  height: 450px;
  position: relative;
  top: 25px;
  left: 25px;
  img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  }
}  

.sub_button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  font-weight: bolder;
}

.title_box{
  width: 30%;
  height: 70px;
  background: #DCE8B0;
  position: relative;
}

.title_text{
  color: #46593A;
  position: absolute;
  left: 25px;
  top: 5px;
}

.mypage_title_text{
  color: #46593A;
  margin: 100px;
  
}

.mypage_title_box{
  width: 100%;
  height: 70px;
  background: #DCE8B0;
  position: relative;
  text-align: center;
}

.container{
  position: relative;
  img{
    width: 100%;
  }
}

.top_button{
  text-align: center;
  margin-top: -100px;
  margin-bottom: 100px;
}

.post{
  display: flex;
  flex-warp: wrap;
  justify-content: space-around;
  width: 60%;
  margin: 30px 0;
  padding-top: 30px;
}

.recipe_posts{
  margin-bottom: 30px;
  padding: 50px 10px;
  text-align: center;
}

.posts{
  display: table;
  li{
    display: table-cell;
  }
  button{
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.profile{
  position: relative;
  
  div {
    position: absolute;
    top: 55%;
    left: 42%;
  }
}

.details{
  position: relative;
  margin: 150px 500px;
}


.sample-box-05 {
    margin: 10px;
    padding: 20px;
    border: 2px solid #D94F41;
    border-radius: 8px;
    position:relative;
}

.sample-box-05::before {
    background-color: #fff;
    color: #D94F41;
    content: "作り方";
    font-weight: bold;
    position: absolute;
    padding: 0 20px;
    left: 10px;
    top: -10px;
}


.sample-box-03 {
    margin: 10px;
    padding: 30px;
    border-radius: 8px;
    border: dashed #D94F41;
}

.balloon{
  position: relative;
  padding: 20px;
  background-color: #107b5e;
  color: #DCE8B0;
  border-radius: 10px;
}
/* 色付きの半円 */
.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  left: 20px;
  top: -15px;
  border-left: 20px solid #107b5e;
  border-top: 20px solid #107b5e;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 白い半円 */
.balloon::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  left: 35px;
  top: -20px;
  border-left: 20px solid #fff;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

//npm run dev
//npm run watch