body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #46593A;
  font-family: "Noto Serif JP", serif !important;
}

img {
  width: 100%;
}

.navbar-laravel {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #46593A !important;
}

.nav-link {
  color: #46593A !important;
}

.table-dark {
  color: #46593A;
}

.list-group-item {
  border-color: #46593A;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

.header_logo {
  width: 100px;
}

.circle_parent {
  text-align: center;
}

.circle {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #DCE8B0;
}

.title_box {
  width: 30%;
  height: 70px;
  background: #DCE8B0;
  position: relative;
}

.title_text {
  color: #46593A;
  position: absolute;
  left: 25px;
  top: 5px;
}
